<ul class="sidebar-nav">

  {% if request.user.is_authenticated %}
    Current user:
    <strong>
      <a href="/drivers/{{ user.pk }}"> {{ user.username }}
    </strong>
    <br>
    <a href="{% url 'logout' %}">Log out</a><br>
  {% endif %}


  {% if not request.user.is_authenticated %}
    <strong><a href="{% url 'login' %}">Login</a></strong>
  {% endif %}

  <br>
  <li><a href="{% url "taxi:index" %}">Home page</a></li>
  <li><a href="{% url "taxi:manufacturer-list" %}">Manufacturers</a></li>
  <li><a href="{% url "taxi:car-list" %}">Cars</a></li>
  <li><a href="{% url "taxi:driver-list" %}">Drivers</a></li>
</ul>
